[submodule "Prediccion-de-Indicadores-de-Pobreza-del-CONEVAL"]
	path = Prediccion-de-Indicadores-de-Pobreza-del-CONEVAL
	url = https://github.com/EliasDB21/Prediccion-de-Indicadores-de-Pobreza-del-CONEVAL.git
